<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.memberprofliepage.repository.MemberProfileRepository">
    <select id="findByMemberProfileByMemberId" resultType="org.example.memberprofilepage.domain.MemberProfile">
        SELECT id,
               exp,
               level,
               introduce,
               preferred_area,
               git_address,
               score,
               is_profile_image,
               member_id
        FROM member_profile_page
        WHERE member_id = #{memberId}
    </select>

    <select id="findExpAndLevelById" resultType="org.example.memberprofliepage.domain.ExpAndLevelDTO">
        SELECT exp,
               level
        FROM member_profile_page
        WHERE id = #{id}
    </select>

    <select id="findLanguages" resultType="org.example.programmingLanguageService.domain.ProgrammingLanguage">
        SELECT id,
               language,
               is_deleted
        FROM programming_language
        WHERE is_deleted = #{isDeleted}
#         삭제되지 않은 'N' 인 것들만 조회
    </select>

    <select id="findMemberLanguage"
            resultType="org.example.memberProgrammingLanguageService.domain.MemberProgrammingLanguage">
        SELECT id,
               programming_language_id,
               member_profile_page_id
        FROM member_programming_language
        WHERE member_profile_page_id = #{memberProfilePageId}
    </select>

    <select id="findProfileImage" resultType="org.example.profileImageService.domain.ProfileImage">
        SELECT id,
               image_name,
               image_path,
               member_profile_page_id
        FROM localkick.profile_image
        WHERE member_profile_page_id = #{memberProfilePageId}
        ORDER BY id DESC
    </select>
</mapper>